// Palette 1
$p1_col1: #FFBD00;
$p1_col2: #241715;
$p1_col3: #402A2C;
$p1_col4: #C8AD55;
$p1_col5: #FFFFFF;

$p2_col1: #00A9EF;
$p2_col2: #2C0735;
$p2_col3: #C64191;
$p2_col4: #FFFDF7;
$p2_col5: #0F5257;

$placeholder_colour: #FFFFFF;
$placeholder_colour2: #000000;

body {
    background-color: $p2_col2;
    background-attachment: fixed;
}

.header-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

.header-subtitle {
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
    text-decoration: underline;
}

.body-text {
    font-family: Arial;
}

.wrapper-1 {
    padding: 40px;
    margin: auto;
}

.content-div {
    background-color: $p2_col3;
    border: 4px solid $p2_col5;
    width: 65%;
    float: left;
    padding: 10px;
    margin-left: 1%;
}

.navigation-div {
    border: 1px solid black;
    // background-color: $placeholder_colour;
    // padding: 10px;
    float: right;
    margin-right: 1%;
    width: 20%;
    overflow-wrap: break-word;

    ul {
        list-style-type: none;
    }

    li {
        display: block;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    a {
        display: block;
        text-align: center;
        font-family: arial;
        text-decoration: none;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: $p2_col4;
        color: black;
        transition-timing-function: ease-in-out;
        transition: 0.2s;

        &:hover {
            background-color: $p2_col3;
        }
    }
}