// Palette 1
$p1_col1: #FFBD00;
$p1_col2: #241715;
$p1_col3: #402A2C;
$p1_col4: #C8AD55;
$p1_col5: #FFFFFF;

$p2_col1: #00A9EF;
$p2_col2: #2C0735;
$p2_col3: #C64191;
$p2_col4: #FFFDF7;
$p2_col5: #0F5257;

$p3_col1: #00A9EF;
$p3_col2: #0B132B;
$p3_col3: #1C2541;
$p3_col4: #3A506B;
$p3_col5: #6FFFE9;

$placeholder_colour: #FFFFFF;
$placeholder_colour2: #000000;

main {
    width: auto;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: $p3_col1;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

.massive-fucking-title {
    font-family: sans-serif;
    font-size: 96px;
    text-align: center;
    text-decoration: underline;
    margin: 0;
    position: relative;
    top: 50%;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.header-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

.header-subtitle {
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
    text-decoration: underline;
}

.header-subheading {
    @extend .header-subtitle;
    font-size: 23px;
}

.body-text {
    font-family: Arial;
    overflow: break-word;
    text-align: justify;
}

.wrapper-1 {
    padding: 40px;
    margin: auto;
}

.content-div {
    background-color: $p3_col3;
    padding: 10px 0px 10px 10px;
    outline: 1px solid $p3_col5;
    outline-offset: -4px;
    color: $p3_col5;
    float: left;

    p {
        font-family: sans-serif;
    }
}

.text-crammer {
    width: 75%;
    position: relative;
}

.image-crammer {
    width: 20%;
    position: relative;
    float: right;
}

.navigation-div {
    border: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $p3_col2;
    transition: top 0.2s;
    z-index: 10;

    a {
        display: block;
        float: left;
        text-align: center;
        font-family: arial;
        text-decoration: none;
        padding: 20px;
        background-color: $p3_col2;
        color: white;
        transition-timing-function: ease-in-out;
        transition: 0.2s;

        &:hover {
            background-color: $p3_col4;
            color: white;
        }
    }
}

.clear-div {
    // position: absolute;
    height: 100vh;
    text-align: center;
}

.leeway-clear-div {
    top: 25%;
    height: 20vh;
    text-align: center;
    padding-bottom: 15vh;
}

.content-div-2 {
    @extend .content-div;
    width: 99.5vw;
    height: 100vh;
}

.reference-list {
    @extend .body-text;
    font-size: 24px;

    li {
        padding-bottom: 12px;
    }
}

a {
    color: whitesmoke;
}

.ethical-table {
    border: 1px solid $p3_col5;
    width: 99.09vw;
    text-align: justify;
}